<!DOCTYPE html>
<html>
<head>
  <title>BreakIt</title>
  <%= stylesheet_link_tag    "break_it/application", media: "all" %>
  <%= javascript_include_tag "break_it/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
